module.exports =  {
  API_HOST: "http://127.0.0.1:3333",
  LANG: "vi",
  SITE_NAME: "Nursing Home Manegement",
  TITLE: "Nursing Home Manegement",
  DESCRIPTION: "Giải pháp quản lý viện dưỡng lão hiệu quả",
  LOGO: "/logo/nursing-home-icon.png",
  API_KEY: "123456",
  GOOGLE_MAP_API_KEY: "AIzaSyAgOuZWde1UFUOIunPgFFabrbsjPhKxTF0"
}